.bar {
    position: fixed;
    background-color: #3d5a80;
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    
}

.sectionNames {
    margin: 0px 20px;
    padding: 5px;
    font-size: large;
}

.sectionNames:hover {
    background-color: #ee6d4d8e;
}

.selected {
    background-color: #ee6c4d;
}

.selected:hover{
    background-color: #ee6c4d;
}

.link {
    text-decoration: none;
    color: black;
}

.nameHeader {
    margin: 0 auto 0 20px;
    padding: 5px;
    font-size: x-large;
    background: linear-gradient(to right, orange, red);
    background-clip: text;
    color: transparent
}

.break {
    height: 0;
    flex-basis: 100%;
    display: none;
}

@media (max-width: 760px){
    .bar {
        height: 80px;
        justify-content: center;
    }

    .break {
        display: block;
    }

    .nameHeader {
        margin: 5px 0 0 0;
        justify-self: center;
        padding-bottom: 0;
    }

    .sectionNames {
        margin: 0 10px 5px 10px;
    }
}

@media (max-width: 500px){
    .bar {
        height: 70px;
    }

    .sectionNames {
        font-size: small;
        margin: 0 0 5px 0;
    }
}
