html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

.sectionHeader {
  margin-top: 0px;
  padding-top: 10px;
  text-align: center;
  color: #ee6c4d;
  text-decoration: underline;
  text-decoration-color: black;
}

.spaceDiv {
  height: 60px;
}

@media (max-width: 760px){
    .spaceDiv {
        height: 80px;
    }
}

@media (max-width: 500px){
    .spaceDiv {
        height: 70px;
    }
}
